@import '@styles/base';

.content {
  @include directionY;
  margin-top: 2rem;
  color: var(--color-text, hsl(200, 15%, 8%));

  @include apply-at-lg-size {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .flag {
    width: 100%;
    height: auto;

    @include apply-at-lg-size {
      width: calc(50% - 1rem);
    }
  }

  .info {
    @include apply-at-lg-size {
      width: calc(50% - 1rem);
    }
    font-size: 1rem;
    line-height: 1.8rem;

    .title {
      margin-top: 2rem;
      font-size: 1.3rem;
      font-weight: 700;
    }

    .infoWrapper {
      @include directionY;

      @include apply-at-lg-size {
        @include directionX;
      }
      .infoLeft,
      .infoRight {
        margin-top: 1rem;

        @include apply-at-lg-size {
          width: 50%;
        }
      }
    }

    .infoContent {
      span {
        color: var(--color-text-2, hsl(0, 0%, 52%));
      }
    }

    .infoBottom {
      margin-top: 1rem;
    }

    .borderCountry {
      margin-top: 1rem;
      @include directionX;
      flex-wrap: wrap;
      .country {
        cursor: pointer;
        background-color: var(--color-bg-2, hsl(0, 0%, 100%));
        box-shadow: 0px 4px 12px rgba(25, 49, 83, 0.2);
        border-radius: 0.3rem;
        min-width: 8rem;
        text-align: center;
        padding: 0.5rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        color: var(--color-text-2, hsl(0, 0%, 52%));
      }
    }
  }
}
