@import '@styles/base';

.layoutWrapper {
  padding-top: 4rem;
  width: 100vw;
  height: calc(100vh - 4rem);
  background-color: var(--color-bg, hsl(0, 0%, 98%));
  color: var(--color-text, hsl(200, 15%, 8%));
}
