@import './base.scss';
:root {
  font-family: Poppins, Arial, sans-serif;

  background: #e8eef1;
  color: #001a41;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
}
