@import '@styles/base';

.contentWrapper {
  width: 100%;
  @include directionY;

  @include apply-at-lg-size {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card {
    @include directionY;
    background-color: var(--color-bg-2, hsl(0, 0%, 100%));
    box-shadow: 0px 4px 12px rgba(25, 49, 83, 0.2);
    border-radius: 0.3rem;
    margin-bottom: 2rem;
    font-size: 0.8rem;
    cursor: pointer;

    @include apply-at-lg-size {
      max-width: calc(25% - 2rem);
      margin: 1rem;
      flex: 25%;
    }

    .flag {
      border-radius: 0.3rem 0.3rem 0 0;
      width: 100%;
      height: 50%;
      background-position: center;
      object-fit: fill;

      box-shadow: 0px 4px 12px rgba(25, 49, 83, 0.2);
    }

    .info {
      box-sizing: border-box;
      padding: 1rem;
      .country {
        margin-bottom: 1rem;
        font-size: 1rem;
        font-weight: 700;
      }
      .infoTitle {
        span {
          color: var(--color-text-2, hsl(0, 0%, 52%));
        }
      }
    }
  }
  .card:hover {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  }
}

.loading {
  width: 100%;
  @include directionY;
  @include apply-at-lg-size {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .loadingCard {
    width: 100%;
    height: 300px;
    border-radius: 0.3rem;
    margin-bottom: 2rem;
    @include apply-at-lg-size {
      max-width: calc(25% - 2rem);
      margin: 1rem;
    }
  }
}

.notFound {
  text-align: center;
  font-size: 1rem;
  margin-top: 2rem;
  color: var(--color-text, hsl(200, 15%, 8%));
}
