@import '@styles/base';

.backButton {
  margin-top: 1rem;
  @include directionX;
  background-color: var(--color-bg-2, hsl(0, 0%, 100%));
  box-shadow: 0px 4px 12px rgba(25, 49, 83, 0.2);
  align-items: center;
  width: fit-content;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.3rem;
  font-size: 0.8rem;
  font-weight: 700;
  cursor: pointer;

  .icon {
    margin-right: 0.5rem;
  }

  .backButton:hover {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  }
}
