@import '@styles/base';

.error {
  text-align: center;
  font-size: 1rem;
  margin-top: 2rem;
  color: var(--color-text, hsl(200, 15%, 8%));
  @include directionY;
  justify-content: center;
  align-items: center;
  .tryAgain {
    cursor: pointer;
    width: fit-content;
    box-shadow: 0px 4px 12px rgba(25, 49, 83, 0.2);
    border-radius: 0.3rem;
    margin-top: 1rem;
    background-color: var(--color-bg-2, hsl(0, 0%, 100%));
    padding: 0.5rem;
  }

  .tryAgain:hover {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  }
}
