@import '@styles/base';

.nav {
  @include directionY;
  margin-top: 0.5rem;
  margin-bottom: 1rem;

  @include apply-at-lg-size {
    margin-top: 0;
    margin-bottom: 0;
    padding: 1rem;
    flex-direction: row;
    justify-content: space-between;
  }
  .searchWrapper {
    @include directionX;
    width: 100%;
    height: 3rem;
    background-color: var(--color-bg-2, hsl(0, 0%, 100%));
    box-shadow: 0px 4px 12px rgba(25, 49, 83, 0.2);
    border-radius: 0.3rem;
    align-items: center;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;

    @include apply-at-lg-size {
      width: calc(80% - 2rem);
    }

    .searchIcon {
      position: absolute;
    }

    input {
      font-family: Poppins, Arial, sans-serif;
      font-size: 0.8rem;
      border: none;
      width: 100%;
      appearance: none;
      -webkit-appearance: none;
      color: var(--color-text, hsl(200, 15%, 8%));
      background: transparent;
      padding-left: 2rem;

      @include apply-at-lg-size {
        font-size: 1rem;
      }
    }
    input:focus,
    textarea:focus {
      border: none;
      outline: none;
    }
    input::placeholder {
      color: var(--color-text, hsl(200, 15%, 8%));
    }
  }

  .filterRegion {
    width: 45%;
    height: 3rem;
    font-size: 0.8rem;
    font-family: Poppins, Arial, sans-serif;
    background-color: var(--color-bg-2, hsl(0, 0%, 100%));
    box-shadow: 0px 4px 12px rgba(25, 49, 83, 0.2) !important;
    border-radius: 0.3rem;
    border: none !important;
    outline: none !important;

    @include apply-at-lg-size {
      width: 20%;
    }

    .menuItem {
      font-family: Poppins, Arial, sans-serif;
    }
  }
}
