@import '@styles/base';

.wrapper {
  padding: 1rem;
  box-sizing: border-box;
  background-color: var(--color-bg, hsl(0, 0%, 98%));

  @include apply-at-lg-size {
    padding: 2rem 4rem 2rem 4rem;
  }
}
