@import '@styles/base';

.headerWrapper {
  background-color: var(--color-bg-2, hsl(0, 0%, 100%)) !important;
  box-shadow: 0px 4px 12px rgba(25, 49, 83, 0.2) !important;

  .contentWrapper {
    @include directionX;
    align-items: center;
    height: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-between;
    @include apply-at-md-size {
      padding-left: 4rem;
      padding-right: 4rem;
    }
    color: var(--color-text, hsl(200, 15%, 8%));
    .title {
      font-size: 0.8rem;
      font-weight: 700;
      @include apply-at-md-size {
        font-size: 1.2rem;
      }
    }

    .switcher {
      @include directionX;
      cursor: pointer;
      align-items: center;
      .icon {
        height: 0.7rem;
        margin-right: 0.7rem;
        @include apply-at-md-size {
          margin-right: 1rem;
          height: 1rem;
        }
      }
      .text {
        font-size: 0.7rem;
        @include apply-at-md-size {
          font-size: 1rem;
        }
      }
    }
  }
}
