@import '@styles/base';

.contentWrapper {
  @include directionY;
  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;

  .image {
    width: 8rem;
  }

  .title {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
  }
}
